nz-form-item {
    margin-top: 2rem;

    .item {
        width: 60%;
    }

    input[nz-input] {
        margin-right: 8px;
    }

    .dynamic-delete-button {
        cursor: pointer;
        position: relative;
        top: 4px;
        font-size: 24px;
        color: #999;
        transition: all .3s;

        &:hover {
            color: #777;
        }
    }
}
